[package]
name = "boa_wasm"
version = "0.14.0"
edition = "2021"
rust-version = "1.58"
authors = ["boa-dev"]
description = "WASM package for the Boa JavaScript engine."
repository = "https://github.com/boa-dev/boa"
keywords = ["javascript", "compiler", "lexer", "parser", "js"]
categories = ["parser-implementations", "wasm", "compilers"]
license = "Unlicense/MIT"

[dependencies]
boa_engine = { path = "../boa_engine", features = ["console"], version = "0.14.0" }
wasm-bindgen = "=0.2.79"
getrandom = { version = "0.2.5", features = ["js"] }

[lib]
crate-type = ["cdylib", "lib"]
name = "boa_wasm"
bench = false
