[package]
name = "boa_tester"
version = "0.15.0"
edition = "2021"
rust-version = "1.60"
authors = ["boa-dev"]
description = "Test runner for the Boa JavaScript engine."
repository = "https://github.com/boa-dev/boa"
keywords = ["javascript", "ECMASCript", "compiler", "test262", "tester"]
categories = ["command-line-utilites"]
license = "Unlicense/MIT"
publish = false

[dependencies]
boa_engine = { path = "../boa_engine", features = ["intl"], version = "0.15.0" }
boa_interner = { path = "../boa_interner", version = "0.15.0" }
boa_gc = { path = "../boa_gc", version = "0.15.0" }
clap = { version = "3.2.20", features = ["derive"] }
serde = { version = "1.0.144", features = ["derive"] }
serde_yaml = "0.9.10"
serde_json = "1.0.85"
bitflags = "1.3.2"
regex = "1.6.0"
once_cell = "1.14.0"
colored = "2.0.0"
fxhash = "0.2.1"
gc = { version = "0.4.1", features = ["derive"] }
rayon = "1.5.3"
anyhow = "1.0.64"
