[package]
name = "boa_tester"
version = "0.14.0"
edition = "2021"
rust-version = "1.58"
authors = ["boa-dev"]
description = "Test runner for the Boa JavaScript engine."
repository = "https://github.com/boa-dev/boa"
keywords = ["javascript", "ECMASCript", "compiler", "test262", "tester"]
categories = ["command-line-utilites"]
license = "Unlicense/MIT"

[dependencies]
boa_engine = { path = "../boa_engine", version = "0.14.0" }
boa_interner = { path = "../boa_interner", version = "0.14.0" }
structopt = "0.3.26"
serde = { version = "1.0.136", features = ["derive"] }
serde_yaml = "0.8.23"
serde_json = "1.0.79"
bitflags = "1.3.2"
regex = "1.5.5"
once_cell = "1.10.0"
colored = "2.0.0"
fxhash = "0.2.1"
num-format = "0.4.0"
gc = { version = "0.4.1", features = ["derive"] }
rayon = "1.5.2"
anyhow = "1.0.56"
