[package]
name = "boa_tester"
description = "ECMA-262 tests runner for the Boa JavaScript engine."
keywords = ["javascript", "ECMASCript", "compiler", "test262", "tester"]
categories = ["command-line-utilites"]
publish = false
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
boa_engine.workspace = true 
boa_gc.workspace = true
clap = { version = "4.1.4", features = ["derive"] }
serde = { version = "1.0.152", features = ["derive"] }
serde_yaml = "0.9.17"
serde_json = "1.0.91"
bitflags = "1.3.2"
regex = "1.7.1"
once_cell = "1.17.0"
colored = "2.0.0"
fxhash = "0.2.1"
rayon = "1.6.1"
toml = "0.7.0"
color-eyre = "0.6.2"

[features]
default = ["intl"]
intl = ["boa_engine/intl"]