[package]
name = "boa_wasm"
description = "WASM compatibility layer for the Boa JavaScript engine."
keywords = ["javascript", "compiler", "lexer", "parser", "js"]
categories = ["parser-implementations", "wasm", "compilers"]
publish = false
version.workspace = true
edition.workspace = true
authors.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[dependencies]
boa_engine = { workspace = true, features = ["js", "trace"] }
wasm-bindgen = { version = "0.2.91", default-features = false }
getrandom = { version = "0.2.14", features = ["js"] }
console_error_panic_hook = "0.1.7"
js-sys = "0.3.66"

[dev-dependencies]
wasm-bindgen-test = "0.3.42"

[features]
default = ["boa_engine/annex-b", "boa_engine/intl_bundled", "boa_engine/experimental"]

[lib]
crate-type = ["cdylib", "lib"]
name = "boa_wasm"
bench = false

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
