[package]
name = "boa_cli"
version = "0.13.0"
authors = ["boa-dev"]
description = "Boa is a Javascript lexer, parser and Just-in-Time compiler written in Rust. Currently, it has support for some of the language."
repository = "https://github.com/boa-dev/boa"
keywords = ["javascript", "compiler", "lexer", "parser", "js", "cli"]
categories = ["command-line-utilities"]
license = "Unlicense/MIT"
exclude = ["../.vscode/*", "../Dockerfile", "../Makefile", "../.editorConfig"]
edition = "2021"
rust-version = "1.56"
default-run = "boa"

[dependencies]
Boa = { path = "../boa", features = ["deser", "console"] }
rustyline = "9.1.1"
rustyline-derive = "0.6.0"
structopt = "0.3.25"
serde_json = "1.0.72"
colored = "2.0.0"
regex = "1.5.4"
lazy_static = "1.4.0"

[features]

[target.x86_64-unknown-linux-gnu.dependencies]
jemallocator = "0.3.2"

[[bin]]
name = "boa"
doc = false
path = "src/main.rs"
