[package]
name = "boa_cli"
version = "0.10.0"
authors = ["boa-dev"]
description = "Boa is a Javascript lexer, parser and Just-in-Time compiler written in Rust. Currently, it has support for some of the language."
repository = "https://github.com/boa-dev/boa"
keywords = ["javascript", "compiler", "lexer", "parser", "js", "cli"]
categories = ["command-line-utilities"]
license = "Unlicense/MIT"
exclude = ["../.vscode/*", "../Dockerfile", "../Makefile", "../.editorConfig"]
edition = "2018"
default-run = "boa"

[dependencies]
Boa = { path = "../boa", features = ["serde", "console"] }
rustyline = "6.3.0"
rustyline-derive = "0.3.1"
structopt = "0.3.20"
serde_json = "1.0.59"
colored = "2.0.0"
regex = "1.4.2"
lazy_static = "1.4.0"

[target.x86_64-unknown-linux-gnu.dependencies]
jemallocator = "0.3.2"

[[bin]]
name = "boa"
doc = false
path = "src/main.rs"
