[package]
name = "boa_cli"
version = "0.15.0"
edition = "2021"
rust-version = "1.60"
authors = ["boa-dev"]
description = "Boa is a Javascript lexer, parser and Just-in-Time compiler written in Rust. Currently, it has support for some of the language."
repository = "https://github.com/boa-dev/boa"
keywords = ["javascript", "compiler", "lexer", "parser", "js", "cli"]
categories = ["command-line-utilities"]
license = "Unlicense/MIT"
default-run = "boa"

[dependencies]
boa_engine = { path = "../boa_engine", features = ["deser", "console"], version = "0.15.0" }
boa_interner = { path = "../boa_interner", version = "0.15.0" }
rustyline = "9.1.2"
rustyline-derive = "0.6.0"
clap = { version = "3.2.7", features = ["derive"] }
serde_json = "1.0.81"
colored = "2.0.0"
regex = "1.5.6"
phf = { version = "0.10.1", features = ["macros"] }

[target.x86_64-unknown-linux-gnu.dependencies]
jemallocator = "0.5.0"

[[bin]]
name = "boa"
doc = false
path = "src/main.rs"
