name: Nightly Build
permissions:
  "contents": "write"

# Schedule this workflow to run at midnight every day
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
            binary_extension: ""
          - target: aarch64-apple-darwin
            os: macos-14
          - target: aarch64-unknown-linux-gnu
            os: ubuntu-24.04-arm
            binary_extension: ""
          - target: x86_64-pc-windows-msvc
            os: windows-latest
            binary_extension: ".exe"
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          targets: ${{ matrix.target }}

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ matrix.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Build
        run: cargo build --target ${{ matrix.target }} --release --locked --bin boa

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: target/${{ matrix.target }}/release/boa${{ matrix.binary_extension }}
          asset_name: boa-${{ matrix.target }}${{ matrix.binary_extension }}
          tag: refs/tags/nightly
          overwrite: true
          prerelease: true
