name: Publish Release
on:
  release:
    types: [published]

jobs:
  # publish:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Git Checkout
  #       uses: actions/checkout@v3
  #     - name: Publish to crates.io
  #       uses: actions-rs/cargo@v1
  #       with:
  #         command: publish
  #         args: -p boa_engine --token ${CARGO_REGISTRY_TOKEN}
  #       env:
  #         CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
  doc-publish:
    # needs: publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - uses: actions/checkout@v3
        with:
          ref: gh-pages
          path: dist
      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh
      - uses: Borales/actions-yarn@v2.3.0
        with:
          cmd: install
      - name: Cache yarn build
        uses: actions/cache@v2.1.7
        with:
          path: |
            node_modules
            target
            boa_wasm/pkg
            ~/.cargo/git
            ~/.cargo/registry
          key: ${{ runner.os }}-yarn-build-target-${{ hashFiles('**/yarn.lock') }}
      - uses: Borales/actions-yarn@v2.3.0
        with:
          cmd: build:prod
      - uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./dist
          github_token: ${{ secrets.GITHUB_TOKEN }}
