name: Webassembly demo

on:
  pull_request:
    branches:
      - main
      - releases/**
  push:
    branches:
      - main
      - releases/**
  merge_group:
    types: [checks_requested]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check_style:
    name: Check webassembly demo style
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check code formatting
        run: npx prettier --check .

  build:
    name: Build webassembly demo
    runs-on: ubuntu-latest
    timeout-minutes: 60
    env:
      WASM_PACK_PATH: ~/.cargo/bin/wasm-pack
    steps:
      - name: Set environment
        env:
          W_FLAGS: ${{ (github.ref == 'refs/heads/main' || github.base_ref == 'main') && '-Dwarnings' || '' }}
        # Setting `RUSTFLAGS` overrides any flags set on .cargo/config.toml, so we need to
        # set the target flags instead which are cumulative.
        # Track https://github.com/rust-lang/cargo/issues/5376
        run: echo "CARGO_TARGET_WASM32_UNKNOWN_UNKNOWN_RUSTFLAGS=$W_FLAGS" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable


      - name: Cache cargo
        uses: actions/cache@v4
        with:
          path: |
            target
            ~/.cargo/git
            ~/.cargo/registry
          key: ${{ runner.os }}-${{ runner.arch }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install wasm-pack
        uses: baptiste0928/cargo-install@v3.3.2
        with:
          crate: wasm-pack

      - name: Build Playground
        run: wasm-pack build ./ffi/wasm --verbose
      - name: Test (Chrome)
        run: wasm-pack test --headless --chrome ./ffi/wasm --verbose
      - name: Test (Firefox)
        run: wasm-pack test --headless --firefox ./ffi/wasm --verbose
